body,
html,
#root {
  background-color: #282c34;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.canva {
  width: 1200px;
  height: 675px;
  background-color: aliceblue;
}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  height: 100px;
}

.toolbar span {
  color: white;
}

.toolbar-input-wrapper {
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-undo-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  flex-direction: row;
}

.button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  border: none;
  cursor: pointer;
}

.button:disabled {
  opacity: .5;
}

.add {
  background-color: #8AD2F9;
  color: #517B92;
}

.remove {
  background-color: #EFEFF0;
  color: #7A7A7A;
}

.history-icon {
  cursor: pointer;
}

.history-icon:hover > svg {
  stroke: #7A7A7A;
}

.icon-disabled {
  pointer-events: none;
  opacity: .7;
}

.span-disabled {
  pointer-events: none;
  color:#7A7A7A !important;
}